@font-face {
  font-family: 'Happy';
  src: url('/fonts/JosefinSlab-VariableFont_wght.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+00C0-00FF, U+0020-002F, U+003A-0040, U+005B-0060,
    U+007B-007E, U+00A1-00BF, U+0030-0039;
  size-adjust: 100%;
  font-display: swap;
}

@font-face {
  font-family: 'Happy';
  src: url('/fonts/Orbit-Regular.woff2') format('woff2');
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
  size-adjust: 100%;
  font-display: swap;
}
