@import 'tailwindcss';
@import '../styles/font.css';
@import '../styles/utilities.css';
@import '../styles/theme.css';
@import '../styles/keyframes.css';

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Happy', system-ui, sans-sekrif;
  font-size: 16px;
  word-break: keep-all;
}

html,
body {
  overscroll-behavior: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea {
  resize: none;
}

/* Global scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*:hover {
  scrollbar-color: var(--color-primary) transparent;
}

*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  transition: background 0.3s;
}

*:hover::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
